WebServer/bin/Debug/WebServer.exe
WebServer/bin/Debug/WebServer.pdb
WebServer/bin/Debug/WebServer.pdb
WebServer/obj/Debug/WebServer.csprojResolveAssemblyReference.cache
WebServer/obj/Debug/WebServer.exe
WebServer/obj/Debug/WebServer.pdb